/* ########## normal ############################################# */

.bg-btn-normal {
   background: var(--normal);   
}

.bg-card-normal {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--normal)20%, #8d8c8ce1 23%, var(--normal) 30%, var(--normal)40% , #8d8c8ce1 50%, var(--normal)56%) padding-box,
        linear-gradient(45deg, var(--normal), #8d8c8ce1) border-box;        
}

/* ############# fire ########################################## */

.bg-card-fire {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--fire)20%, #8d8c8ce1 23%, var(--fire) 30%, var(--fire)40% , #8d8c8ce1 50%, var(--fire)56%) padding-box,
        linear-gradient(45deg, var(--fire), #8d8c8ce1) border-box;       
}

.bg-btn-fire {
    background: var(--fire);    
}

/* ############## water ######################################### */

.bg-card-water {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--water)20%, #8d8c8ce1 23%, var(--water) 30%, var(--water)40% , #8d8c8ce1 50%, var(--water)56%) padding-box,
        linear-gradient(45deg, var(--water), #8d8c8ce1) border-box;      
}

.bg-btn-water {
    background:var(--water);   
}

/* ############# grass ########################################## */
.bg-card-grass {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--grass)20%, #8d8c8ce1 23%, var(--grass) 30%, var(--grass)40% , #8d8c8ce1 50%, var(--grass)56%) padding-box,
        linear-gradient(45deg, var(--grass), #8d8c8ce1) border-box;       
}

.bg-btn-grass {
    background:var(--grass);    
}
/* ####################################################### */

.bg-card-bug {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--bug)20%, #8d8c8ce1 23%, var(--bug) 30%, var(--bug)40% , #8d8c8ce1 50%, var(--bug)56%) padding-box,
        linear-gradient(45deg, var(--bug), #8d8c8ce1) border-box;      
}

.bg-btn-bug {
    background:var(--bug);    
}

/* ####################################################### */
.bg-card-dark {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--bug)20%, #8d8c8ce1 23%, var(--bug) 30%, var(--bug)40% , #8d8c8ce1 50%, var(--bug)56%) padding-box,
        linear-gradient(45deg, var(--bug), #8d8c8ce1) border-box;      
}

.bg-btn-dark {
    background: var(--bug);    
}

/* ####################################################### */
.bg-card-dragon {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--dragon)20%, #8d8c8ce1 23%, var(--dragon) 30%, var(--dragon)40% , #8d8c8ce1 50%, var(--dragon)56%) padding-box,
        linear-gradient(45deg, var(--dragon), #8d8c8ce1) border-box;       
}

.bg-btn-dragon {
    background: var(--dragon);    
}

/* ####################################################### */
.bg-card-electric {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--electric)20%, #8d8c8ce1 23%, var(--electric) 30%, var(--electric)40% , #8d8c8ce1 50%, var(--electric)56%) padding-box,
        linear-gradient(45deg, var(--electric), #8d8c8ce1) border-box;       
}

.bg-btn-electric {
    background: var(--electric);    
}

/* ####################################################### */
.bg-card-fairy {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--fairy)20%, #8d8c8ce1 23%, var(--fairy) 30%, var(--fairy)40% , #8d8c8ce1 50%, var(--fairy)56%) padding-box,
        linear-gradient(45deg, var(--fairy), #8d8c8ce1) border-box;       
}

.bg-btn-fairy {
    background: var(--fairy);    
}

/* ####################################################### */

.bg-card-flying {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--flying)20%, #8d8c8ce1 23%, var(--flying) 30%, var(--flying)40% , #8d8c8ce1 50%, var(--flying)56%) padding-box,
        linear-gradient(45deg, var(--flying), #8d8c8ce1) border-box;       
}

.bg-btn-flying {
    background: var(--flying);   
}

/* ####################################################### */
.bg-card-ghost {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--ghost)20%, #8d8c8ce1 23%, var(--ghost) 30%, var(--ghost)40% , #8d8c8ce1 50%, var(--ghost)56%) padding-box,
        linear-gradient(45deg, var(--ghost), #8d8c8ce1) border-box;       
}

.bg-btn-ghost {
    background: var(--ghost);    
}

/* ####################################################### */
.bg-card-ground {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--ground)20%, #8d8c8ce1 23%, var(--ground) 30%, var(--ground)40% , #8d8c8ce1 50%, var(--ground)56%) padding-box,
        linear-gradient(45deg, var(--ground), #8d8c8ce1) border-box;       
}

.bg-btn-ground {
    background: var(--ground);    
}

/* ####################################################### */
.bg-card-ice {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--ice)20%, #8d8c8ce1 23%, var(--ice) 30%, var(--ice)40% , #8d8c8ce1 50%, var(--ice)56%) padding-box,
        linear-gradient(45deg, var(--ice), #8d8c8ce1) border-box;      
}

.bg-btn-ice {
    background: var(--ice);    
}

/* ####################################################### */

.bg-btn-poison {
    background: var(--poison);    
}

.bg-card-poison {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--poison)20%, #8d8c8ce1 23%, var(--poison) 30%, var(--poison)40% , #8d8c8ce1 50%, var(--poison)56%) padding-box,
        linear-gradient(45deg, var(--poison), #8d8c8ce1) border-box;       
}

/* ####################################################### */
.bg-btn-psychic {
    background: var(--psychic);    
}

.bg-card-psychic {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--psychic)20%, #8d8c8ce1 23%, var(--psychic) 30%, var(--psychic)40% , #8d8c8ce1 50%, var(--psychic)56%) padding-box,
        linear-gradient(45deg, var(--psychic), #8d8c8ce1) border-box;     
}

/* ####################################################### */
.bg-btn-rock {
    background: var(--rock);    
}

.bg-card-rock {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--rock)20%, #8d8c8ce1 23%, var(--rock) 30%, var(--rock)40% , #8d8c8ce1 50%, var(--rock)56%) padding-box,
        linear-gradient(45deg, var(--rock), #8d8c8ce1) border-box;       
}

/* ####################################################### */
.bg-btn-steel {
    background: var(--steel);    
}

.bg-card-steel {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--steel)20%, #8d8c8ce1 23%, var(--steel) 30%, var(--steel)40% , #8d8c8ce1 50%, var(--steel)56%) padding-box,
        linear-gradient(45deg, var(--steel), #8d8c8ce1) border-box;      
}

/* ####################################################### */
.bg-btn-fighting {
    background: var(--fighting);    
}

.bg-card-fighting {
    border: 4px solid transparent;
    background: linear-gradient(126deg, var(--fighting)20%, #8d8c8ce1 23%, var(--fighting) 30%, var(--fighting)40% , #8d8c8ce1 50%, var(--fighting)56%) padding-box,
        linear-gradient(45deg, var(--fighting), #8d8c8ce1) border-box;       
}

