.landing-card {
    width: 152px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.landing-card:hover{
    cursor: pointer;
    box-shadow: 0 0 16px 3px yellow;    
}

.landing-card-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.342);
    overflow: hidden;
    align-items: center;
    padding: 0 8px;
}

.landing-card-header h2 {
    font-size: clamp(18px, 2vw, 24px);
    overflow-wrap: anywhere;
    text-align: center;
}

.test {
    width: 100%;
    height: 100px;
    padding: 10px;
    object-fit: contain;
}

.type-mini-card{
    display: flex;
    gap: 10px;
}

.pic-types{
    height: 30px;
    margin-top: 5px;
}
