.landing-card {
    width: 220px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    border: 2px solid yellow;
    border-radius: 10px;
}

.landing-card:hover{
    cursor: pointer;
}

.landing-card-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.596);
    overflow: hidden;
    ;
}

.test {
    width: 100%;
    height: 150px;
    padding: 10px;
}

.type-mini-card{
    display: flex;
    gap: 10px;
}

.pic-types{
    height: 50px;
}

.bg-card-fire {
    border: 4px solid transparent;
    background: linear-gradient(126deg, red, #ffa500, red, yellow, red, orange, red) padding-box,
        linear-gradient(45deg, #ff0000, #ff9200a1) border-box;        
}

.bg-btn-fire {
    background: linear-gradient(126deg, red, orange,)    
}

.ground{

}

.water {}

.bug {}