:root{
--normal: #9099A1;
--fire: #FF9C54;
--water: #4E90D6;
--grass: #63BB5B;
--electric: #F4D23C;
--ice: #73CEC0;
--fighting: #CE406A;
--poison: #AB6AC8;
--ground: #D97745;
--flying: #8FA8DD;
--psychic: #F97177;
--bug: #90C12D;
--rock: #C7B78B;
--ghost: #5369AC;
--dragon: #0A6DC4;
--dark: #5A5366;
--steel: #598EA1; 
--fairy: #ED8FE6;
}